/.classpath
/.depcache
/.project
/.cproject
/.settings
/hs_err_pid*.log
/last_junit_suite.log
/*.sublime-project
/*.sublime-workspace
/.tags
/.DS_Store
.DS_Store
.cache/
.pydevproject
*.pyc
*.swp
*~
*runapp*.py
*.log
/build.local
buildstring.txt
host*+0000.txt
license.xml
voltdb_crash*
bundles/
obj/
groovyout/
debugoutput/
statement-plans/
voltdbroot/
log/
out
bundles
*.lcbak
.gradle/*
build.gradle

# IntelliJ excluded files.
.idea/workspace.xml
.idea/tasks.xml
.idea/modules.xml
